@charset "UTF-8";

body
{
  background-image: url(./Images/Image_bleu.jpg);
}



/* Titre----------------------------------------------------------------------------------------------------------------- */

.titre
{
    display: flex;
    justify-content: center !important;
    align-items: flex-start;
    color: white;
    background-color: blue;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------------------------------------------------------------------------------- */




/* Animation Titre------------------------------------------------------------------------------------------------------- */

.titre:hover 
{
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ---------------------------------------------------------------------------------------------------------------------- */




/* Centrage de la photo------------------------------------------------------------------------------------------------- */

#Photo
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* -------------------------------------------------------------------------------------------------------------------- */




/* Arrondissement de l'image------------------------------------------------------------------------------------------- */

.imageronde
{
  width: 150px;
  height: 155px;
  border: none;
  border-radius: 75px;
  -moz-border-radius:75px;
  -webkit-border-radius:75px;
}

/* -------------------------------------------------------------------------------------------------------------------- */




/* Card Projets-------------------------------------------------------------------------------------------------------- */

.card{
  padding: 20%;
  width: 400px;
  height: 500px;
  align-items: center;
  text-align: center;
}

/* -------------------------------------------------------------------------------------------------------------------- */




/* Centrage Lien linkedin et Facebook ----------------------------------------------------------------------------------*/

footer ul
{
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}

/* -------------------------------------------------------------------------------------------------------------------- */




/* Liens LinkedIn et Facbook ------------------------------------------------------------------------------------------ */

footer li
{
  margin: 20px;
  height: 70px;
  width: 70px;
  border-radius: 150px;
  background: linear-gradient(225deg, green, orange);
  box-shadow: -5px 5px 9px white, 5px -5px 9px grey;
  cursor: pointer;
}

footer i{
  font-size: 1em;
}

footer li:hover{
  border-radius: 150px;
  background: indianred;
  box-shadow: inset -5px 5px 9px wheat, inset 5px -5px 9px magenta;
}

footer li:nth-child(1) i {
  /* color: blue; */
  background-image: url(./Images/Image_bleu.jpg);
}

/* -------------------------------------------------------------------------------------------------------------------*/




#Contact
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url(./Images/Image_bleu.jpg);
}

.Zone_Contact
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-family: 'Roboto', sans-serif;
  /* background-color: blue; */
  background-image: url(./Images/Image_bleu.jpg);
}

.Description
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
ul
{
  list-style-type: none;
  overflow: hidden;
  background-color: white;
}


ul p{
  color: blue;
  float: left;

}

li{
  float: right;
}

li a
{
  color: blue;
  display:block;
  padding:14px 16px;
  text-decoration: none;
  
}

/**.info
{
    color:blue;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}**/




  /* ----------------------------------------------
 * Generated by Animista on 2021-9-30 16:31:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}





/* ----------------------------------------------
 * Generated by Animista on 2021-9-30 16:54:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@media all and (max-width:1200px)
{
  #Centrage, #info_liens,#Nom,#Photo,.Description,#carouselExampleControls,.row row-cols-1 row-cols-md-2,.Contact,.Zone_Contact
  {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: stretch;
    flex-flow: row wrap;
  }
}




