@charset "UTF-8";




/* Arrière plan ----------------------------------------------------------------------------------------------------------*/

body
{
  background-image: url(./Images/Image_bleu.jpg);
}

/* ---------------------------------------------------------------------------------------------------------------------- */




/* Titre----------------------------------------------------------------------------------------------------------------- */

.titre
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  background-color: blue;
  font-family : 'Cinzel', cursive ;
}

/* Animation Titre ---------------------------- */

.titre:hover 
{
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ---------------------------------------------------------------------------------------------------------------------- */




/* Photo de profil ------------------------------------------------------------------------------------------------------------ */

/* Centrage de la photo -----------------------*/
#Photo
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Arrondissement de l'image------------------ */
.imageronde
{
  width: 150px;
  height: 155px;
  border: none;
  border-radius: 75px;
  -moz-border-radius:75px;
  -webkit-border-radius:75px;
}

/* -------------------------------------------------------------------------------------------------------------------- */




/* Centrage de la description -----------------------------------------------------------------------------------------------------------*/

.Description
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-weight: bold;
}

/* --------------------------------------------------------------------------------------------------------------------------------------*/





/* Descriptions card projets --------------------------------------------------------------------------------------------------------- */

.Cartes_Projets
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */




/* Card Projets------------------------------------------------------------------------------------------------------------------------ */

.card{
  padding: 20%;
  width: 400px;
  height: 500px;
  align-items: center;
  text-align: center;
}

/* -------------------------------------------------------------------------------------------------------------------- */




/* Centrage du mot contact --------------------------------------------------------------------------------------------------*/

#Contact
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url(./Images/Image_bleu.jpg);
  font-weight: bold;
}

#Protection_des_données
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url(./Images/Image_bleu.jpg);
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */




/* Zone de contact ------------------------------------------------------------------------------------------*/

/* Centrage zone de contact ----------------------------------------*/
.Zone_Contact
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url(./Images/Image_bleu.jpg);
}

/* Centrage de la zone de message ----------------------------------*/
.center
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */




/* Liens LinkedIn et Facebook -----------------------------------------------------------------------------------------------------------------------*/

/* Centrage Liens linkedin et Facebook -----------------------------*/
footer ul
{
  display: flex;
  justify-content: center;
}

/* Forme et couleur des liens LinkedIn et Facebook ---------------- */
footer li
{
  margin: 20px;
  height: 70px;
  width: 70px;
  border-radius: 29px;
  background: #e0e0e0;
  box-shadow:  19px 19px 38px #9b9b9b,
             -19px -19px 38px #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bande blanche au niveau des liens LinkedIn et Facebook ----------*/
ul
{
  list-style-type: none;
  overflow: hidden;
  background-color: white;
}

/* Couleurs des logos des liens ------------------------------------*/
li a
{
  color: blue;
  display:block;
  padding:14px 16px;
  text-decoration: none;
}

/* Taille des logo -------------------------------------------------*/
footer i
{
  font-size: 2em;
}

/* Effet d'arrière plan --------------------------------------------*/
footer li:hover
{
  border-radius: 150px;
  background: rgba(255, 255, 255, 0.568);
  box-shadow: inset -5px 5px 9px rgb(0, 89, 255), inset 5px -5px 9px rgb(0, 195, 255);
}

/* -------------------------------------------------------------------------------------------------------------------*/




/* Animation du titre */

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}




/* Responsive --------------------------------------------------------------------------------------------------------*/

@media all and (max-width:1280px)
{
  .titre,.navbar navbar-expand-lg navbar-light bg-light,.Photo,.Description,#carouselExampleControls,.row row-cols-1 row-cols-md-2,.Contact,.Protection_des_données,.Zone_Contact
  {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: stretch;
    flex-flow: row wrap;
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */








